//----------------------------------------------//
// List of mixins
// * Box Sizing
// * Body Reset
// * Form tags Typographics Reset
// * Links
//----------------------------------------------//



@mixin box-sizing ($boxmodel) {
    box-sizing: $boxmodel;
}

@mixin text-align ($alignment) {
    text-align: $alignment;
}

@mixin table-padding ($padding) {
    th,
    td {
        padding: $padding;
    }
}