//----------------------------------------------//
// Scaffolding contain following properties
// * Box Sizing
// * Body Reset
// * Form tags Typographics Reset
// * Links
//----------------------------------------------//



// Universal Box sizing with Inheritance concept
// For more : https://css-tricks.com/box-sizing/#article-header-id-6
html {
    @include box-sizing(border-box);
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
}

html {
    font-size: $font-size-root
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    //line-height: $line-height-base;
    color: $body-font-color;
    background-color: $body-bg;
}


// Text-align Helpers
.text-left {
    @include text-align(left);
}
.text-center {
    @include text-align(center);
}
.text-right {
    @include text-align(right);
}
.text-justify {
    @include text-align(justify);
}

// Code Tag
code {
    background-color: #ececec;
    color: #F44336;
    padding: 0.15em;
    border-radius: 5px;
}