<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Css Framework</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/core.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <fieldset>
                <legend>Typography</legend>
                <ul>
                    <li><h1>h1 Heading</h1></li>
                    <li><h2>h2 Heading</h2></li>
                    <li><h3>h3 Heading</h3></li>
                    <li><h4>h4 Heading</h4></li>
                    <li><h5>h5 Heading</h5></li>
                    <li><h6>h6 Heading</h6></li>
                </ul>
            </fieldset>
        </div>
    </body>
</html>